.member-container {
  margin: 80px auto;
  width: 90%;
}

.member-header {
  text-align: center;
  color: #555555;
  font-size: 36px;
  margin: 0 auto;
  padding: 10px 0;
}

.member-details {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
}

.details header {
  text-align: center;
  color: #828282;
  font-size: 24px;

  margin-top: 5px;
  padding: 5px 0;
}

.details p {
  display: flex;
  justify-content: space-between;
}

.details span {
  color: #828282;
  font-size: 14px;
}

.details img {
  transition: all 0.3s;
  width: 130px;
}

.details img:hover {
  transform: scale(1.2);
  filter: sepia(30%);
}

.red-detail {
  position: relative;
  width: 100px;
  height: 100px;
  background: #f24b6a;
  border-radius: 100%;
  color: #fff;
  perspective: 1000px;
}

.inner-detail {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.inner-detail:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  font-size: 20px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  font-weight: 300;
  color: green;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.red-circle {
  /* font-size: 80px;
  padding: 15px 40px;
  font-weight: 300;
  border-radius: 100%;
  background: #f4627d;
  color: #fff; */
}

.underline {
  border-bottom: 2px solid #f24b6a;
  width: 30px;
  margin: 10px auto;
}

.big-screen .red-circle {
  margin-top: -60px;
}

.small-screen {
  display: none;
}

@media screen and (max-width: 900px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: flex;
    flex-direction: column;
  }

  .details {
    padding: 10px;
  }

  .details header {
    font-size: 14px;
  }

  .details span {
    font-size: 9px;
  }

  .details img {
    width: 90px;
  }

  .red-circle {
    font-size: 70px;
    padding: 5px 27px;
  }

  .member-header {
    font-size: 24px;
  }

  .member-details-flex {
    display: flex;
    justify-content: space-between;
  }

  .member-details-flex .details {
    margin: 0 10px;
  }
}
