.top-menu {
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #ecf0f1;
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid #ecf0f1;
  transition-property: background;
  transition-property: border;
  transition: 0.1s;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

.m-center,
.m-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-list,
.m-right li {
  padding: 30px 5px;
  margin: 0 10px;
}

.m-right li {
  font-size: 14px;
}

.m-right img {
  width: 18px;
  height: 15px;
}

.m-list {
  position: relative;
  font-size: 14px;
}

.m-list:last-child {
  background: #f24b6a;
  padding: 5px 8px;
  border-radius: 5px;
}

.m-right li:last-child {
  border: 1px solid #ecf0f1;
  padding: 0 17px;
  border-radius: 5px;
}

.m-list:not(:last-child):hover {
  background: #272a32;
}

.m-center i {
  position: absolute;
}

.destination {
  display: none;
  position: absolute;
  justify-content: space-between;
  z-index: 1;
  color: #ecf0f1;
  top: 73px;
  left: -150px;
  background: #373c47;
}

.t {
  left: -200px;
}

.destination ul:first-child li:first-child {
  padding-top: 35px;
}

.destination ul:first-child {
  padding-right: 80px;
}

.destination li {
  padding: 5px 0;
}

.destination ul {
  padding: 20px 15px;
}

.dest:hover .d {
  display: flex;
}

.service:hover .s {
  display: flex;
}

.topic:hover .t {
  display: flex;
}
