.banner {
  height: 630px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.banner-nav {
  color: #fff;
  position: absolute;
  left: 4%;
  top: 100px;
  transform: translateX(-2%);
  width: 90%;
}

.banner-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 15px;
  font-size: 18px;
  position: relative;
  color: #d6d6d6;
}

.banner-arrow {
  color: #f24b6a;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.b-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ecf0f1;
  text-align: center;
  width: 100%;
}

.b-header p {
  margin: 15px 0;
}

.b-header p:first-child {
  font-size: 64px;
  line-height: 64px;
  animation: accomodation 1s ease-in-out;
}

.b-header p:last-child {
  font-weight: 100;
  font-size: 36px;
  line-height: 24px;
  animation: explore 1s ease-in-out;
}

.b-center button {
  border: none;
  margin-top: 25px;
  color: #ecf0f1;
  background: #f24b6a;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
  animation: join 1s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.select-person {
  margin-top: 50px;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  animation: person 1s ease-in;
}

.b-center select {
  padding: 10px 30px;
  border-radius: 10px;
  width: 524px;
  border: none;
  color: #a6acaf;
  font-size: 18px;
}

.video.banner-video {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  background: #f24b6a;
  display: flex;
  justify-content: space-around;
}

.list-item {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10 20px rgba(0, 0, 0, 0.2);
}

.list-flex {
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  color: #fff;
}

.list-left {
  position: relative;
  flex-basis: 50%;
}

.list-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.list-desc p {
  color: #fff;
  margin-top: 20px;
}

.list-right {
  text-align: left;
  background: #ffecec;
  position: relative;
  padding: 20px 60px;
  flex-basis: 50%;
}

.list-right header {
  font-weight: bold;
  font-size: 24px;
  color: #979797;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-right span {
  cursor: pointer;
}

.list-right .icon {
  right: 0;
}

.list-more {
  padding: 10px 0;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-more p:first-child {
  font-size: 18px;
  color: #f24b6a;
}

.list-more p:last-child {
  font-size: 15px;
  color: #f7879b;
}

.list-para p {
  font-size: 14px;
  color: #909090;
  padding: 10px 0;
  margin: 10px 0;
}

#list {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 100%;
}

@keyframes accomodation {
  0% {
    transform: translateX(-130px);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes explore {
  0% {
    transform: translateX(130px);
    opacity: 0;
  }

  80% {
    transform: translateX(-10px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes join {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  80% {
    transform: translateY(-10px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes person {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  80% {
    transform: translateX(-10px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .b-center {
    width: 90%;
  }

  .select-person {
    font-size: 24px;
  }

  .b-center select {
    width: 232px;
    font-size: 9px;
  }

  .b-header p:first-child {
    font-size: 36px;
  }

  .b-header p:last-child {
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .list-item {
    display: flex;
    flex-direction: column;
  }

  .banner-nav li {
    font-size: 12px;
  }

  .banner-arrow {
    width: 18px;
    height: 18px;
  }
}
